:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.6%;
}

body {
  font-size: 1.6rem;
  display: flex;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: inherit;
}
